@font-face {
    font-family: neu;
    src: url(./NeueMachina-Regular_DQCmjH1st.ttf);

}
@font-face {
    font-family: hell;
    src: url(./HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    position: fixed;
    width: 100%;
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.nav1 h4{
    font-size: 15px;
    line-height: 1.4;
    font-weight: 100;
    font-family: neu;
}
.nav1 img{
    height: 43px;
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
}
.nav2 h4,h3{
    font-size: 14px;
    font-weight: 10;
    font-family: neu;
}

.nav2 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.nav3{
    display: none;
    align-items: end;
    justify-content: center;
    gap: 30px;
    
}
.nav3 h4{
    font-size: 14px;
    font-weight: 10;
    font-family: neu;
}


@media (max-width:700px) {
    nav{
        padding: 12px 20px;
    }
    .nav1 img{
        height:30px ;
    }
    .nav1{
        font-size: 12px;
    }
    .nav2 {
        display: none;
    }
    .nav3{
        display: flex;
    }
    
}

.section1{
    display: flex;
    align-items: center;
    justify-content: center;
}
