:root{
    --gray:#212121;
    --green:#009660;
    --white:#e9e9e9;
    --black:#0c0c0c;
    --lgray:#929292;
}

@font-face {
    font-family: neu;
    src: url(./NeueMachina-Regular_DQCmjH1st.ttf);

}
@font-face {
    font-family: hell;
    src: url(./HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: var(--black);
    color: white;
}
.green{
    color: var(--green);
}
.lgray{
    color: var(--gray);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    position: fixed;
    width: 100%;
    background-color: var(--black);
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.nav1 h4{
    font-size: 15px;
    line-height: 1.4;
    font-weight: 100;
    font-family: neu;
}
.nav1 img{
    height: 43px;
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
}
.nav2 h4,h3{
    font-size: 14px;
    font-weight: 10;
    font-family: neu;
}

.nav2 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.nav3{
    display: none;
    align-items: end;
    justify-content: center;
    gap: 30px;
    
}
.nav3 h4{
    font-size: 14px;
    font-weight: 10;
    font-family: neu;
}


@media (max-width:700px) {
    nav{
        padding: 12px 20px;
    }
    .nav1 img{
        height:30px ;
    }
    .nav1{
        font-size: 12px;
    }
    .nav2 {
        display: none;
    }
    .nav3{
        display: flex;
    }
    
}
main{
    padding-top: 100px;
}

.section1{
    /* margin-top: 40px; */
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 70px;
    font-family: hell;
}

.section1 .left{
    /* background-color: #009660; */
    width: 42%;
}
.section1 h1{
    font-size: 40px;
}


.section1 .left .tags{
        display: flex;
        align-items: center;
        /* border-radius: 5px; */
        gap:5px;
        margin:30px 0px;
        flex-wrap: wrap;
    
}


.section1 .left .tags h4{
    background-color: var(--gray);
      border-radius: 5px;
    font-size: 14px;
    font-weight: 13;
    padding: 10px 20px;
}
.section1 .left .price .lgray{
    font-size: 14px;
    font-weight: 100;
}

.left .price {
    font-size: 20px;
    font-weight: bold;
    /* background-color: #009660; */
}
.section1 .left .butt{
    /* background-color: var(--green); */
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 0px;
}
.left .butt .greenl{
    background-color: var(--green);
    color: white;
    padding: 14px 30px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
}
.left .butt .white{
    background-color: var(--gray);
    color: white;
    padding: 14px 30px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
}


.left .scratch{
    color: var(--green);
    margin-bottom: 10px;
}


.section1 .right .rightin{
   overflow: hidden;
    width: 400px;
    border-radius: 5px;
}

.section1 .right .rightin .image{
    width: 100%;
    height: 250px;
}
.section1 .right .rightin .image img{
    width: 100%;
    height: 100%;
     object-fit: cover;
}


.section1 .right .rightin .image-bottom{
    display: flex;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    justify-content: space-between;
    gap: 10px;
    /* margin: 20px 0px; */
    background-color: var(--gray);
    flex-wrap: wrap;
}

.section1 .right .rightin .image-bottom h4{
 background-color: #151515;
      border-radius: 5px;
    font-size: 14px;
    font-weight: 13;
    padding: 9px 16px;
    width: 45%;
}
@media (max-width:1200px) {
    .section1 .left h1{
        font-size: 4vw;
    }
    
}
@media (max-width:800px) {
    main{
        padding-top: 8vw;
    }
    .section1 .left h1{
        font-size: 33px;
    }
    .section1{
        flex-direction: column-reverse;
        padding: 13px 4vw;
    }
    .section1 .left{
        width: 100%;
        margin-top: 30px;
    }

    section1 .left .tags{
        display: flex;
        align-items: center;
        /* border-radius: 5px; */
        gap:5px;
        margin:30px 0px;
        flex-wrap: wrap;
    
}


.section1 .left .tags h4{
    background-color: var(--gray);
      border-radius: 5px;
    font-size: 2.2vw;
    font-weight: 15;
    padding: 10px 20px;
}
.section1 .left .price .lgray{
    font-size: 2vw;
    font-weight: 100;
}

.left .price {
    font-size: 3.5vw;
    font-weight: bold;
}
.section1 .left .butt{
    
    gap: 10px;
    margin: 20px 0px;
}
.left .butt .greenl{
    background-color: var(--green);
    color: white;
    padding: 2.5vw 3.95vw;
    border-radius: 6px;
    border: none;
    font-size: 2.5vw;
}
.left .butt .white{
    background-color: var(--gray);
    color: white;
        padding: 2.5vw 3.95vw;
    border-radius: 6px;
    border: none;
    font-size: 2.5vw;
}


.left .scratch{
    color: var(--green);
    margin-bottom: 10px;
}


    .section1 .rightin{
        width: 100%;
    }
    /* .section1 .right .rightin .image{
    width: 100%;
    height: 55vw;
} */
.section1 .right .rightin .image-bottom{

    padding: 10px;
    padding-top: 7px;
    gap: 5px;
    background-color: var(--gray);
}
.section1 .right .rightin .image-bottom h4{
 background-color: #151515;
      border-radius: 5px;
    font-size: 2.5vw;
   
    padding: 7px 13px;
    width: 45%;
}
    
}
@media (max-width:600px) {
    .section1 .left h1{
        font-size: 5vw;
    }
     /* .section1 .right .rightin .image{
    width: 100%;
    height: 40vw;
} */
    
}